//
//  ProdNetwork.xcconfig
//  OpenSky Flight Tracker
//
//  Created by Michael Crawford on 8/30/23.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

//API_USERNAME = (Add your username here)
//API_PASSWORD = (Add your password here)
