<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OpenSky Flight Tracker.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5C1F6B452A9B0D3300E87DE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C1F6B552A9B0D3400E87DE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C1F6B5F2A9B0D3400E87DE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
